  body {
    height: 100%;
    width: calc(100% - 8px);
  }
  * {
    //font-family: 'Vollkorn';
    //font-family: 'IBM Plex Serif';
    //font-family: 'Literata';
    font-family: 'Alice';
    font-size: 1.25rem;
  }
  a, p, pre, b, li {
    font-family: 'Alice';
    font-size: 1.3rem;
  }

  h1.book-title {
    font-size: 4.8rem;
    margin: 0px;
    line-height: 4.0rem;
  }
  .book-version {
    font-size: 1.5rem;
    line-height: 10px;
    font-style: italic;
  }
  .book-subtitle {
    font-size: 2.7rem;
    line-height: 2.6rem;
    margin-top: 0.5rem;
  }
  .book-subtitle-continue {
    font-size: 1.6rem;
    margin: 0;
  }
  .book-author {
    font-size: 1.2rem;
    font-style: italic;
    margin: 0;
  }
  .divider {
    margin: 3rem 0 3rem 0;
  }
  
  h2 {
    font-size: 2.2rem;
  }
  h2.toc {
    margin: 0;
  }
  h3 {
    font-size: 1.5rem;
  }
  h3.toc {
    margin: 2rem 0 0 0;
  }

  h4 {
    font-size: 1.2rem;
  }

  ul.toc {
    list-style-type: none;
    font-size: 1rem;
    padding-inline-start: 10px;
    border-left: 1px solid black;
  }
  li.toc {
    font-size: 1.2rem;
    font-style: italic;
  }
  li.toc a {
    font-size: 1.2rem;
  }

  .toc.title {
    border-top: 1px solid black;
    margin-top: 4rem;
    line-height: 4rem;
  }

  .main-container {
    margin: 150px 50px 150px 33%;
  }


  h1.chapter {
    font-size: 2.5rem;
  }
  .chapter-container {
    margin: 100px 180px 150px 33%;
  }
  h1 .chapter-subtitle {
    font-size: 2.0rem;
  }
  h4.chapter {
    font-size: 1.6rem;
    margin-bottom: 0;
  }
  h5.chapter {
    font-size: 1.4rem;
    margin-bottom: 0;
  }
  
  .definition {
    background-color: #f2f2f2;
    padding: 15px;
  }
  .first_paragraph {
    margin-top: 5px;
  }

  @media only screen
    and (min-device-width: 320px) 
    /* and (max-device-width: 667px) */
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 2) { 
      h1 {
        font-size: 5.6rem;
        margin: 0px;
      }
      h1.chapter {
        font-size: 4.2rem;
        margin-top: 50px;
      }
      h2 {
        font-size: 3.2rem;
      }
      h3 {
        font-size: 2.2rem;
      }
      h4 {
        font-size: 1.8rem;
      }
      h5 {
        font-size: 1.6rem;
      }
      a, p, pre, b {
        font-family: 'Alice';
        font-size: 1.6rem;
      }

      .main-container {
        margin: 50px 50px 250px 50px;
      }
      .chapter-container {
        margin: 50px 50px 250px 50px;
      }
  }